table {
    font-family: arial, sans-serif;
    font-size: 12px;
    width: 600px;
    margin: auto;
    border-collapse: collapse;
}
  
td, th {
    text-align: left;
    color: #0D5188;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}

th{
    background-color: #78b200;
    color:white; 
}

.posicao{
    width: 5%;
}

.quant{
    width: 15%;
}